@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #2563EB;
    --accent: #22C55E;
    --background-default: #F8FAFC;
    --background-elevated: white;
    --text-primary: #111827;
    --text-secondary: #6B7280;
    --border-subtle: #E5E7EB;
    --warning: #F59E0B;
    --danger: #DC2626;
}

body {
    margin: 0;
}

.layout {
    margin: 0;
    display: flex;
    background-color: var(--background-default);
}

.sidebar{
    gap: 12px;  
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    background-color: var(--background-elevated);
    border-right-color: var(--border-subtle);
}

.sidebar-logo {
    padding: 16px 12px;
    width: 1;
    height: 32px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 250px;
}

.sidebar-nav a {
    text-decoration: none;
    font-family: "Inter";
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    height: 12px;
    padding: 18px 30px;
    width: 1;
}

.header {
    width: 100%;
    height: 64px;
}

.main-content {
    width: 100%;
    padding-bottom: 48px;
    gap: 24px;
    display: grid;
    flex-direction: column;
    background-color: var(--background-default);
}

nav {
    width: 100vw;
}

h1 {
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1%;
    text-align: center;
    color: var(--primary);
    margin: 0;
    vertical-align: middle;
}
