:root {
    --primary-500: #2563EB;
    --background: #F8FAFC;
    --primary-text: #111827;

}

.layout {
    display: flex;
}

.sidebar .sidebar-nav{
    width: 18.33333333%;
    background: white;
    height: 100vh;
}

.main-content {
    flex: 1;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

body {
    background-color: var(--background);
    color: var(--primary-text);
    font-family: sans-serif;
    margin: 0;
}
h1, h2 {
    color: var(--primary-500);
}
